<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Pairing
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-align-self-start ion-align-items-start">
        <ion-button [disabled]="ble.scanning$ | ngrxPush" (click)="ble.scan()">
          <ion-icon slot="start" name="radio-outline"></ion-icon>
          Scan
        </ion-button>
        <ion-spinner *ngIf="ble.scanning$ | ngrxPush"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>
    <ion-card
      *ngFor="let result of ble.scanResults$ | ngrxPush"
      (click)="ble.connect(result.device.deviceId)"
    >
      <ion-item button>
        <ion-label>
          {{ result.localName || result.device.name }}
        </ion-label>
        <ng-container [ngSwitch]="result | pairStatus | ngrxPush">
          <ion-icon *ngSwitchCase="PairStatus.Pair" slot="end" name="unlink-outline"></ion-icon>
          <ion-icon *ngSwitchCase="PairStatus.Paired" slot="end" name="link-outline"></ion-icon>
          <ion-spinner *ngSwitchCase="PairStatus.Pairing" slot="end"></ion-spinner>
        </ng-container>
      </ion-item>
    </ion-card>
  </ion-list>
</ion-content>
