<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Pairing
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-label>Available Devices</ion-label>
        <ion-spinner *rxIf="ble.isScanning$"></ion-spinner>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list [inset]="true">
          <oe-scan-result
            *rxFor="let scanResult of ble.scanResults$; trackBy: trackByResultDeviceId"
            [scanResult]="scanResult"
            (connect)="ble.connect(scanResult.device.deviceId)"
          ></oe-scan-result>
        </ion-list>
        <p>{{ ble.scanResults$ | push | json }}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
