<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Device
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form *rxIf="device.current$ as currentDevice" [formGroup]="deviceForm">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-text>
            <h1>{{ currentDevice.name }}</h1>
          </ion-text>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <oe-battery [battery]="currentDevice.battery"></oe-battery>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-between">
        <ion-col>
          <oe-temperature [temperature]="currentDevice.currentTemperature" text="Current"></oe-temperature>
        </ion-col>
        <ion-col>
          <oe-temperature [temperature]="currentDevice.targetTemperature" text="Target"></oe-temperature>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-range formControlName="targetTemperature" [min]="Temperature.Min" [max]="Temperature.Max" [step]="Temperature.CelsiusStep" pin="true">
            <ion-icon size="small" slot="start" name="thermometer-outline"></ion-icon>
            <ion-icon slot="end" name="thermometer-outline"></ion-icon>
          </ion-range>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input formControlName="targetTemperature" type="number" [min]="Temperature.Min" [max]="Temperature.Max" [step]="Temperature.CelsiusStep"></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-text>
            <oe-color [color]="currentDevice.color" text="Current"></oe-color>
          </ion-text>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-text>
            <oe-color [color]="selectedColor" text="Selected"></oe-color>
          </ion-text>
        </ion-col>
      </ion-row>

      <ng-container formGroupName="color">
        <ion-row>
          <ion-col>
            <ion-range formControlName="r" min="0" max="255" pin="true"></ion-range>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-range formControlName="g" min="0" max="255" pin="true"></ion-range>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-range formControlName="b" min="0" max="255" pin="true"></ion-range>
          </ion-col>
        </ion-row>
      </ng-container>

      <ion-row>
        <ion-col>
          <ion-input type="text"></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
