<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Device
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ng-container *ngIf="device.current$ | ngrxPush as currentDevice">
    <ng-container *ngIf="device.getReads(currentDevice.deviceId) as reads">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-text>
              <h1>{{ currentDevice.name }}</h1>
            </ion-text>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-text *ngrxLet="reads.currentBattery$; let currentBattery">
              {{ currentBattery | percent }}
              <ng-container [ngSwitch]="currentBattery | devicePowerState">
                <ion-icon *ngSwitchCase="DevicePowerState.Charging" name="battery-charging-outline"></ion-icon>
                <ion-icon *ngSwitchCase="DevicePowerState.Dead" name="battery-dead-outline"></ion-icon>
                <ion-icon *ngSwitchCase="DevicePowerState.Half" name="battery-half-outline"></ion-icon>
                <ion-icon *ngSwitchCase="DevicePowerState.Full" name="battery-full-outline"></ion-icon>
              </ng-container>
            </ion-text>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-text *ngrxLet="reads.currentTemp$; let currentTemp">
              Current
              <ion-icon name="thermometer-outline"></ion-icon>
              : {{ currentTemp | temperature }}
            </ion-text>

            <ion-text *ngrxLet="reads.targetTemp$; let targetTemp">
              Target
              <ion-icon name="thermometer-outline"></ion-icon>
              : {{ targetTemp | temperature }}
            </ion-text>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-text *ngrxLet="reads.ledColor$; let ledColor">
              <ion-icon name="color-filter-outline"></ion-icon>
              <svg style="height: 1em;" viewBox="0 0 1 1" xmlns="http://www.w3.org/2000/svg">
                <circle r="0.5" cx="0.5" cy="0.5" [style.fill]="asRgbaString(ledColor)"/>
              </svg>
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-container>
  </ng-container>
</ion-content>
