<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Open Ember
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/pairing">
        Pair
        <ion-icon slot="end" name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngIf="(device.all$ | ngrxPush).length; else noDevices">
    <ion-card
      *ngFor="let currentDevice of device.all$ | ngrxPush"
      (click)="router.navigate(['/device', currentDevice.deviceId])"
    >
      <ion-card-header>
        <ion-card-title>{{ currentDevice.name }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-grid>
          <ion-row class="ion-justify-content-between">
            <ion-col>
              <oe-temperature [temperature]="currentDevice.currentTemperature" text="Current"></oe-temperature>
            </ion-col>
            <ion-col>
              <oe-temperature [temperature]="currentDevice.targetTemperature" text="Target"></oe-temperature>
            </ion-col>
            <ion-col>
              <oe-battery [battery]="currentDevice.battery"></oe-battery>
            </ion-col>
            <ion-col>
              <oe-color-dot [color]="currentDevice.color"></oe-color-dot>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-list>

  <ng-template #noDevices>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-text class="ion-text-center">
            <p>You have no paired devices.<p>
            <p>To get started, click "Pair<ion-icon name="add-outline"></ion-icon>".<p>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-template>
</ion-content>
