<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Open Ember
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/pairing">
        Pair
        <ion-icon slot="end" name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *rxIf="device.hasConnectedDevice$; else noDevices">
    <oe-device-preview
      *rxFor="let currentDevice of device.connectedDevices$"
      [device]="currentDevice"
      [routerLink]="['/device', currentDevice.deviceId]"
    ></oe-device-preview>
  </ion-list>

  <ng-template #noDevices>
    <ion-text class="oe-hero ion-text-center">
      <p>You have no paired devices.<p>
      <p>To get started, click "Pair <ion-icon name="add-outline"></ion-icon>"<br>in the upper-right corner.</p>
      <svg width="16rem" height="16rem" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg">
        <g id="mug">
          <path style="fill:#000000;" d="M 3 2 l 0 6 q 0 2, 3 2 t 3 -2 l 0 -6 q -3 -0.2, -6 0 Z" />
          <path style="fill:#000000;" d="M 9 3.252 l 0.5 0 q 1 0, 1 1 l 0 2 q 0 1, -1 1 l -0.5 0 l 0 -0.5 l 0.5 0 q 0.5 0, 0.5 -0.5 l 0 -2 q 0 -0.5, -0.5 -0.5 l -0.5 0 Z" />
        </g>
        <g id="led">
          <path style="fill:#FFFFFF;" d="M 5 9.25 q 1 0.1, 2 0 q -1 -0.1, -2 0 Z" />
        </g>
      </svg>
    </ion-text>
  </ng-template>
</ion-content>
