<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Devices
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/pairing">
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-card *ngFor="let dev of device.all$ | ngrxPush">
      <ion-card-header>
        <ion-card-title>{{ dev.name }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
<!--        <ion-text>-->
<!--          <ion-icon name="thermometer-outline"></ion-icon>-->
<!--          {{ getTemp(dev.deviceId) | ngrxPush }}-->
<!--        </ion-text>-->

<!--        <ng-container [ngSwitch]="DevicePowerState.Half">-->
<!--          <ion-icon *ngSwitchCase="DevicePowerState.Charging" name="battery-charging-outline"></ion-icon>-->
<!--          <ion-icon *ngSwitchCase="DevicePowerState.Dead" name="battery-dead-outline"></ion-icon>-->
<!--          <ion-icon *ngSwitchCase="DevicePowerState.Half" name="battery-half-outline"></ion-icon>-->
<!--          <ion-icon *ngSwitchCase="DevicePowerState.Full" name="battery-full-outline"></ion-icon>-->
<!--        </ng-container>-->
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
